{% extends 'headers.html' %}

{% load static %}
{% block title %}
    LordAceMedia
{% endblock title %}
{% block main_cont %}

<body>

  <!-- hero section -->
  <section class="bg-center hero text-white gap-3" >
    <!-- navigation -->
    {% include 'nav.html' %}
 
  

      <h2 class="text-3xl md:text-4xl lg:text-5xl text-center">The Success Of Your Business Is Guaranteed</h2>
      <p>Start with us today</p>
      <button class="btn services active:opacity-75"> <i class="fa fa-user"></i> Sign up today</button>
  </section>




  <!-- about section -->
  <section id="about" class="pt-[7rem] px-3 text-white pb-[10rem] bg-purple-500 relative">

      <h3 class="text-center mb-6">Things You Need To Know</h3>
    <!-- container for all about items -->
    <div class="flex gap-3 justify-center flex-wrap">
      <div class="w-full max-w-[500px] observe hide slide_item md:max-w-[380px] p-5 box-shad rounded-xl">
      <h4>About Us</h4>

        <p>Does your business need an exclusive boost,Need your goods advertised or
           does your website need more visitors LordAceMedia can handle that.
          Our services range from webdesigns and web development to 3D animations for your Advertisements. </p>
        </div>

        <div class="w-full max-w-[500px] observe hide slide_item md:max-w-[380px] p-5 box-shad rounded-xl">
          <h4>Our Team</h4>

          <p>Our web design team is dedicated to creating beautiful, 
            functional websites that meet our clients' needs. We use the latest 
            technologies and design trends to ensure our clients' websites are modern and effective. Our team is passionate about creating
             the perfect website for each client. Contact us today to get started.
          </p>
        </div>

        <div class="w-full max-w-[500px] observe hide slide_item md:max-w-[380px] p-5 box-shad rounded-xl">
          <h4>Our Boss</h4>

          <p>He is a visionary leader who inspires us to push the boundaries of 
            creativity and innovation. With a keen eye for design and a passion for excellence, they lead by
             example and motivate us to deliver exceptional work. Their dedication to our team and our 
             clients is unwavering,
             and we are proud to work under their guidance.</p>
        </div>
    </div>
    


                <!-- canvas -->
                <div class="custom-shape-divider-bottom-1679402926">
                  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                  </svg>
              </div>

  </section>






  <!-- services -->
 <section id="services" class="pt-[3rem] px-3 text-white pb-[10rem] relative">

  <h3 class="text-center text-black mb-8">Our Services Include</h3>

<!-- list of services -->
  <div class="flex justify-center flex-wrap gap-6">

    <div class="observe hide slide_it service-bx">
      <i class="fab fa-html5" aria-hidden="true"></i>
      <i class="fab fa-js"></i>
      <i class="fab fa-css3"></i>
      <p class="font-bold">FrontEnd</p>

      <p class="up">Develop static websites for your business</p>
    </div>


    <div class="observe hide slide_it service-bx">
      <i class="fa fa-laptop-code"></i>
      <p class="font-bold">FullStack</p>

      <p class="up">Fullstack websites with user authentificationand other feautres</p>

    </div>

    <div class="observe hide slide_it service-bx">
      <i class="fa fa-dragon"></i>
      <p class="font-bold">Animations</p>

      <p class="up">2D and 3D animations as ads for your business</p>

    </div>

    <div class="observe hide slide_it service-bx">
      <i class="fa fa-robot"></i>
      <p class="font-bold">Automated Testing</p>

      <p class="up">Run Web based automated task</p>
    </div>

    <div class="observe hide slide_it service-bx">
      <i class="fab fa-apple"></i>
      <i class="fab fa-android"></i>
      <p class="font-bold">Mobileapp dev</p>

      <p class="up">Develop Web and Mobile apps for your business</p>
    </div>


    <div class="observe hide slide_it service-bx">
      <i class="fa fa-desktop"></i>
      <i class="fa fa-cloud"></i>
      <p class="font-bold">Remote Workers</p>

      <p class="up">Hire some of our workers to help in your tasks for a limited time</p>
    </div>

    <div class="observe hide slide_it service-bx">
      <i class="fa fa-bug"></i>
      <p class="font-bold">Superbug Fixes</p>

      <p class="up">Are you having problems in your projects .. we can check it out</p>
    </div>


    <div class="observe hide slide_it service-bx">
      <i class="fa fa-gamepad"></i>
      <p class="font-bold">Game Dev</p>

      <p class="up">We also develop 2d and 3d games</p>
    </div>
  </div>

  </section>


<!-- add a section where the workers give confident quotes -->




  <!-- contact section -->
  <section id="contact" class="services py-[7rem]  relative">
    
  <div class="custom-shape-divider-top-1679486558">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
<div class="hide observe">
<div class="mx-auto p-8 bg-white rounded-lg shadow-lg max-w-sm">
  {% csrf_token %}
  <h5 class="text-blue-500 text-center mb-2">Contact us</h5>



  <!-- error messages -->

  <p id="success_info" class="text-red text-center hidden text-green-400 mb-4">Message sent succesfully</p>


  <div class="md:flex md:items-center mb-6">
      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text"  readonly value="{% if request.user.is_authenticated %}{{request.user}}
        {% else %}
        signup before sending messages
        {% endif %}
      ">
  </div>
  <div class="md:flex md:items-center mb-6">
      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-username" type="text" name="message" placeholder="Type Your Message Here">
  </div>

  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3">
        {% if request.user.is_authenticated %}
          <button onclick="send_msg()" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Send Message</button>
        {% else %}
        <button onclick="window.location='{% url 'login' %}' " class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Send Message</button>
        {% endif %}
    </div>
  </div>
</div>

</div>

  </section>





  <!-- footer -->
      <footer class=" bg-[#faaca8] text-center p-5 text-white">

          <div class="flex gap-5">
                
              <div class="hidden md:flex-1 md:block footer-img">
                      <img src={% static "images/about.jpg" %} alt="" class="rounded-lg max-w-[305px]">
              </div>
  
              <div class="inline-flex md:flex-row flex-col gap-6 md:gap-0 flex-auto justify-between">
  
                <div class="other_platforms">
                  <h5>Find Us On</h5>
                  <ul>
                    <li>
                      <a href=""><i class="fab fa-facebook-f"></i>
                      </a> Facebook
                    </li>
                    <li><a href=""></a><a href=""><i class="fab fa-whatsapp"></i> Whatsapp</a> </li>
                    <li><a href=""></a><a href=""><i class="fab fa-twitter"></i> Twitter</a> </li>
                    <li><a href=""></a><a href=""><i class="fab fa-instagram"></i> Instagram</a> </li>
                  </ul>
                </div>
                
  
                
                <div>
                  <h5>Place your Ads</h5>
                  <ul>
                    <li><a href=""></a><a href=""><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
                    <li><a href=""></a><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
                  </ul>
                </div>
              
                
                
                <div>
                  <h5>For Your Tutorials</h5>
                  <ul>
                    <li>
                      <a href="">
                          <i class="fa fa-envelope"></i>
                           Email
                      </a>
                    </li>
                  </ul>
                </div>
  
  
              </div>
          </div>
      </footer>

  <script>   

function clean_info() {
   setTimeout(()=>{
    document.querySelector("#success_info").innerHTML=""
   },4000)
}
      function send_msg(){
        let msg_value = $("input[name=message]").val() 
        if(msg_value == " " ||msg_value.length <=10 ){
          $('#success_info').removeClass("hidden text-green-400").addClass("text-red-400")
          $('#success_info').text("message is invalid or too short")
          $("input[name=message]").val('');

         clean_info()
          return
        }
        console.log($("input[name=message]").val().length)
          $.ajax({
              type:'Post',
              url:'.',
              data:{
                  message:$("input[name=message]").val(),
                  csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
              },
  
              success:(data)=>{
                  $('#success_info').removeClass("hidden text-red-400").addClass("text-green-400");
                  $('#success_info').text("Message sent succesfully")

                  $("input[name=message]").val('');
                  clean_info()
              },
              error:(data)=>{
                alert("error",error)
              }
          })
      }

  </script>
</body>
</html>
{% endblock main_cont %}