{% extends 'headers.html' %}

{% block title %}
    Login page
{% endblock  %}

{% block main_cont %}
<body>
    {% include 'nav.html' %}




    <!-- page content -->
    <div class="w-[100vw] h-[100vh] min-h-[600px] px-5 auth-bg flex-centered bg-gray-400">

        <!-- form wrapper -->
        <div class="p-6 w-full md:w-[50%] min-h-[300px] max-w-[500px] form-cont rounded-2xl">
            <h5 class="text-center mb-5 text-white">Login Now</h5>



            <!-- error messages -->

            {% for msg in messages %}
            <p id="error_info" class="text-red text-center text-2xl text-red-400 mb-4">{{msg}}</p>

          {% endfor %}
   

            <!-- form content -->
            <form action="" method="POST">
                {% csrf_token %}


                <div class="md:flex md:items-center mb-6">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-1 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" name="username" placeholder="UserName">
                </div>

                <div class="md:flex md:items-center hidden_2 mb-6">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-1 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="password" name="password" placeholder="PassWord">
                </div>

                <input value="Submit" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white mb-7 py-2 px-2 rounded" type="submit">
                

                <p class="text-sm text-white">
                    Dont have an account <a href="{% url 'signup' %}" class="text-blue-600">SignUp</a>
                </p>
            </form>
        </div>
    </div>

  </body>
</html>
{% endblock main_cont %}
